/* styles.css */
body {
    font-family: "League Spartan",
        sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    width: 100%;
    padding: 4px 0;

}

.settings {
    position: absolute;
    top: 14%;
    right: 2%;
}

.main-container {
    display: flex;
    max-height: 76.8vh;
    position: relative;
}

.left-section,
.middle-section,
.right-section,
.last-middle-section {
    border: 2.6px solid #ccc;
    padding: 10px;
    overflow: auto;
    box-sizing: border-box;
}

.left-section {
    width: 30%;
}

.middle-section {
    width: 30%;
}

.last-middle-section {
    
    width: 30%;
}

.right-section {
     /* position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
    background-color: #f0f0f0; */
    width: 10%;
}

.bottom-section {
    height: 15vh;
    border: 1px solid #ccc;
    overflow: auto;
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.contact-button {
    width: 17%;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: linear-gradient(90deg, #2D7BFC 0%, #1249A4 100%);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* line-height: 13px; */
    
}

.contact-button-save {
    width: 12%;
    padding: 4px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   background: linear-gradient(90deg, #2D7BFC 0%, #1249A4 100%);
   box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    line-height: normal;
}

.script-button {
    width: 17%;
    padding: 5px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #8e95c6;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    line-height: normal;
}


.call-button {
    width: 12%;
    padding: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #8e95c6;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    line-height: normal;
}
.convert-button {
    width: 250px;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: linear-gradient(90deg, #2D7BFC 0%, #1249A4 100%);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    color: white;
    border: none;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;

}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.resizer {
    width: 10px;
    cursor: col-resize;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.resizer:hover{
     /* background: linear-gradient(90deg, #2D7BFC 0%, #1249A4 100%); */
}

#resizer-left {
    left: 30%;
}

#resizer-right {
    left: 70%;
}

.lead-status-button {
    height: 44px;
    flex-shrink: 0;
    border: transparent;
    color: #fff;
    border-radius: 10px;
    background: linear-gradient(90deg, #2D7BFC 0%, #1249A4 100%);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    width: 100%;
}

.lead-info {
    position: relative;
}

.fire-div {
    position: absolute;
    right: 23%;
}

.call-div {
    position: absolute;
    right: 40%;
    top: 5%;
    
   
}
.call-div button {
    color: #fff;
    padding: 6px 12px;
    border-radius: 13px;
    border: transparent;
    background: #34a853;
}

.call-div img {
    color: #fff;
    padding: 3px 4px;
    border-radius: 13px;
    border: 2px solid #ccc;
}

.lead-info-text {
    width: 45%;
    display: inline-block;
    border: transparent;
    padding: 4px 40px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 7px;
    background: #8e95c6;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    font-weight: 700;
}

.lead-info-img {
    display: inline-block;
    border: transparent;
    font-size: 17px;
    padding: 4px 16px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 7px;
    background: #8e95c6;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    font-weight: 700;
}

.lead-info-img img {
    padding: 2px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-right: -10px
}

.content {
    display: flex;

}

.lead-table {
    width: 90%;
    /* Adjust the width of the table */
    border-collapse: collapse;
    background-color: #e0e0e0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



.lead-table th {
    padding: 15px;
    text-align: left;
    color: #1651B1;
    font-weight: normal;
    text-transform: uppercase;
}

.lead-table thead {
    background-color: #217ac0 !important;
}

.lead-table td {
    padding: 15px;
    text-align: left;
    color: #333;
    border: 1px solid #ccc;

}


.comment-section {
    width: 22%;
    background-color: #e6e6e6;
    padding: 15px;

}

.comment-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #217ac0;
}

textarea {
    width: 100%;
    height: 80px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    background-color: #ffffff;
    /* Pure white background for the textarea */
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2),
        inset -4px -4px 10px rgba(255, 255, 255, 0.9);
    /* Inset shadow for 3D effect */
    outline: none;
    transition: all 0.2s ease-in-out;
}

textarea:focus {
    background-color: #ffffff;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2),
        inset -4px -4px 10px rgba(255, 255, 255, 0.9);
    transition: all 0.2s ease-in-out;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    /* Optional: Set a max-width for the container */
}

.search-icon {
    position: absolute;
    left: 8px;
    top: 40%;
    transform: translateY(-50%);
    width: 27px;
    height: 27px;

}

.search-input {
    width: 75%;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.2),
        inset -4px -4px 10px rgba(255, 255, 255, 0.9);
    transition: all 0.2s ease-in-out;

}

.search-input:focus {
    background-color: #ffffff;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.2),
        inset -4px -4px 10px rgba(255, 255, 255, 0.9);
    transition: all 0.2s ease-in-out;
}

.search-input::placeholder {
    color: #1249A4;
    text-align: right;
}


.text-end {
    text-align: right;
    display: block;
}

.offer {
    width: 83%;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #34a853;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

.email-offer {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #Fe482c;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.settings-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 95.3%;
    background: linear-gradient(90deg, #8e95c6 0%, #72cfa5 100%);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
    transition: right 0.4s ease;
    z-index: 1026;
}

.settings-menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 31%;
}

.settings-menu li {
    margin-bottom: 15px;
    font-size: 18px;
    border: transparent;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.settings-menu li a {
    margin-bottom: 15px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;

    cursor: pointer;
}

.settings-menu.active {
    right: 0;
}

.close-btn {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1100;
}

.text-info-color {
     background: linear-gradient(45deg, #ff6ec4, #7873f5);
     -webkit-background-clip: text;
     color: transparent;
      font-weight: 700;
}
